<h1>Loja Virtual</h1>

<style>
.cities {
  background-color: white;
  width: 200px;
  border: 1px solid black;
}
table, th, td {
    border: 0.1px solid black;
} 
</style>

<div class="cities" *ngFor="let produto of produtos">
  <b>{{produto.nome}}</b>
  <p>R${{produto.valor}}.00 &nbsp;&nbsp;&nbsp;&nbsp; <button (click)="adicionar(produto)">Comprar</button></p>
</div>

<h1>Carrinho</h1>
<table>
  <tr>
    <td><b>Produto</b></td>
    <td><b>Unid.</b></td>
    <td><b>Preço</b></td>
  </tr>

  <tr *ngFor="let car of carrinho">
    <td > {{ car.nome }} </td>
    <td>{{car.quantidade}}</td>
    <td> {{ car.total }}.00 </td>
  </tr>
</table>

<div *ngIf="!null && total">
  <p>Total da compra: &nbsp;&nbsp;&nbsp;&nbsp; {{total}}.00 </p>
</div>